
<div class="views view-spj-youtube-block">
<h2>{{data.author.name}} </h2>
<a href="{{data.author.uri}}" target="_blank">
    <img src="{{data.thumb }}" width="200" />
</a>
<p class="blurb-text">
{{ data.message }}

</p>
<div class="item-list">
<ul>
     {% for vid in data.entries %}
        <li>
            <a href="{{vid.url }}" target="_blank">{{vid.title}}</a><br />

           
        </li>
     {% endfor %}
</ul>
<a href="{{data.author.uri}}" target="_blank">View more</a>
</div>
</div>