
<div class="impexium-membership">

    <h2 class="name">{{data.name}}</h2>
    
    <div class="newuser">
    <strong>ssoToken</strong> :{{data.ssoToken}}
    </div>
    <div class="email">{{data.email}}</div>
    <div class="memberID">
        <a href="https://my.spj.org/my-profile" target="_blank">
        {{data.memberID}}
        </a>
    </div>
    <div class="image"><img src="{{data.image}}" width="200" alt="profile" /></div>
</div>

<hr />